@mixin circle {
    fill: transparent;
    stroke-width: 15;
    stroke-dasharray: 534;
}

$ph_offset: 80;
$ill_offset: 90;
$in_offset: 380;
$pr_offset: 340;
$af_offset: 380;
$un_offset: 410;
$bl_offset: 420;
$hc_offset: 50;
$jav_offset: 450;

#photoshop {
    @include circle;
    stroke: #31C5F0;
    stroke-dashoffset: $ph_offset;
}

#photoshop:hover {
    stroke-dashoffset: $ph_offset !important;
    -webkit-animation: photoshop 2s alternate infinite;
    animation: photoshop 2s alternate infinite;
    
    @keyframes photoshop {
        from {
            stroke-dashoffset: $ph_offset;
        }

        to {
            stroke-dashoffset: 534;
        }
    }
}

#illustrator {
    @include circle;
    stroke: #FF7F18;
    stroke-dashoffset: $ill_offset;
}

#illustrator:hover {
    stroke-dashoffset: $ill_offset !important;
    -webkit-animation: illustrator 2s alternate infinite;
    animation: illustrator 2s alternate infinite;

    @keyframes illustrator {
        from {
            stroke-dashoffset: $ill_offset;
        }

        to {
            stroke-dashoffset: 534;
        }
    }
}

#indesign {
    @include circle;
    stroke: #FF408C;
    stroke-dashoffset: $in_offset;
}

#indesign:hover {
    stroke-dashoffset: $in_offset !important;
    -webkit-animation: indesign 2s alternate infinite;
    animation: indesign 2s alternate infinite;
    
    @keyframes indesign {
        from {
            stroke-dashoffset: $in_offset;
        }
        
        to {
            stroke-dashoffset: 534;
        }
    }
}

#premiere {
    @include circle;
    stroke: #E579FF;
    stroke-dashoffset: $pr_offset;
}

#premiere:hover {
    stroke-dashoffset: $pr_offset !important;
    -webkit-animation: premiere 2s alternate infinite;
    animation: premiere 2s alternate infinite;
    
    @keyframes premiere {
        from {
            stroke-dashoffset: $pr_offset;
        }
        
        to {
            stroke-dashoffset: 534;
        }
    }
}

#aftereffects {
    @include circle;
    stroke: #D8A1FF;
    stroke-dashoffset: $af_offset;
}

#aftereffects:hover {
    stroke-dashoffset: $af_offset !important;
    -webkit-animation: aftereffects 2s alternate infinite;
    animation: aftereffects 2s alternate infinite;
    
    @keyframes aftereffects {
        from {
            stroke-dashoffset: $af_offset;
        }
        
        to {
            stroke-dashoffset: 534;
        }
    }
}

#unity {
    @include circle;
    stroke: #45BFBC;
    stroke-dashoffset: $un_offset;
}

#unity:hover {
    stroke-dashoffset: $un_offset !important;
    -webkit-animation: unity 2s alternate infinite;
    animation: unity 2s alternate infinite;
    
    @keyframes unity {
        from {
            stroke-dashoffset: $un_offset;
        }
        
        to {
            stroke-dashoffset: 534;
        }
    }
}

#blender {
    @include circle;
    stroke: #003AA8;
    stroke-dashoffset: $bl_offset;
}

#blender:hover {
    stroke-dashoffset: $bl_offset !important;
    -webkit-animation: blender 2s alternate infinite;
    animation: blender 2s alternate infinite;
    
    @keyframes blender {
        from {
            stroke-dashoffset: $bl_offset;
        }
        
        to {
            stroke-dashoffset: 534;
        }
    }
}

#html {
    @include circle;
    stroke: #CF649A;
    stroke-dashoffset: $hc_offset;
}

#html:hover {
    stroke-dashoffset: $hc_offset !important;
    -webkit-animation: html 2s alternate infinite;
    animation: html 2s alternate infinite;
    
    @keyframes html {
        from {
            stroke-dashoffset: $hc_offset;
        }
        
        to {
            stroke-dashoffset: 534;
        }
    }
}

#java {
    @include circle;
    stroke: #5382A1;
    stroke-dashoffset: $jav_offset;
}

#java:hover {
    stroke-dashoffset: $jav_offset !important;
    -webkit-animation: java 2s alternate infinite;
    animation: java 2s alternate infinite;
    
    @keyframes java {
        from {
            stroke-dashoffset: $jav_offset;
        }
        
        to {
            stroke-dashoffset: 534;
        }
    }
}

.charts img {
    width: 90px;
    height: 90px;
    position: absolute;
    margin-left: 50px;
    margin-top: 50px;
}
