@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto');

.resume {
    margin-top: 100px;
    text-align: center;
}
.res-heading {
    font-family: 'Oswald' sans-serif;
    font-size: 1.4em;
    text-decoration: underline;
}
