/*RESUME*/
.res_heading {
    @include span(2 of 9);
//    background-color: aquamarine;
    align-self: flex-start;
}

.res_content {
    @include span (6 of 9);
    margin-left: gutter(12);
    margin-bottom: 30px;
//    background-color: pink;
    padding: 10px 10px 20px 30px;
    border-left: 1px black solid;
}

#res_link {
    text-align: right;
    margin-right: 100px;
}