@import "compass/reset";
@import "pie";
@import url(https://fonts.googleapis.com/css?family=Raleway|Marvel);

$title_font: 'Marvel';
$subtitle_font: 'Raleway';
$accent_colour1: #247BA0;
$accent_colour2: #70C1B3;
$accent_colour3: #B2DBBF;
$accent_colour4: #F1FFB5;
$accent_colour5: #FF1654;

h1 {
    font-family: $title_font;
    text-align: center;
    font-size: 30px;
}

h2 {
    font-family: $title_font;
    text-align: center;
    font-size: 25px;
    margin: 5px;
}

h3 {
    font-family: $title_font;
    text-align: center;
    font-size: 50px;
    color: white;
    background-color: $accent_colour2; 
    width: 100%;
    padding: 5px;
}

h4 {
    font-family: $subtitle_font;
    color: $accent_colour1;
    font-size: 35px;
    float: left;
    border-right: 3px $accent_colour2 solid;
    padding-right: 50px;
    margin-left: 300px;
    margin-right: 50px;
    width: 200px;
    height: 200px;
    clear: both;
    text-align: right;
}

h5 {
    font-family: $subtitle_font;
    font-size: 22px;
    padding: 0px;
    margin: 0px;
    text-align: left;
}

p {
    font-family: $subtitle_font;
    padding: 0px;
    margin-bottom: 10px;
    text-align: left;
}

li {
    text-align: left;
    font-family: $subtitle_font;
    font-size: 20px;
    padding: 3px;
    list-style-type: circle;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: black;
}

body {
    margin: 0;
    border: 10px $accent_colour2 solid;
}

/*NAV*/
.nav {
    text-align: center;
    font-family: $title_font;
    
    ul {
        position: relative;
        display: inline-table;
        padding: 0px;
        margin: 0px;
        text-align: center;
        border-top: 1px black solid;
        border-bottom: 1px black solid;
    }
    
    li {
        display: inline-block;
        font-size: 15px;
        padding: 10px 20px 10px 20px;
    }
    
    a {
        color: black;
        position: relative;
        text-decoration: none;
        display: block;
    }
    
    a:hover {
        color: $accent_colour5;
        transition: color 0.1s ease;
    }
}

/*HOME*/
.portfolio {

    img {
        width: 200px;
        height: "";
    }

    div {
        display: inline-block;
    }
}

/*RESUME*/
.resume {
    text-align: center;
}

.box {
    margin: 80px 50px 80px 50px;
    height: 200px;
    
    a:hover {
        color: $accent_colour5;
    }
}

.line {
    border-bottom: 3px solid $accent_colour3;
}

section {
    clear: inherit;
}

.skills {
    position: relative;
    display: inline-block;
    color: black;
    margin: 10px;
    width: 250px;
    flex-flow: row wrap;
    
    h5 {
        text-align: center;
        padding: 20px;
    }
    
    figcaption {
        font-size: 20px;
        position: relative;
    }    
}

