@import 'breakpoint';
@import 'grids';
@import 'resume';
$title_font: 'Roboto Slab';
$subtitle_font: 'Raleway';
$colour4: #D9E0E0;
$colour5: #FF1654;

h1 {
    //Top Info
    font-family: $subtitle_font;
    font-weight: 400;
    text-align: center;
    font-size: 15px;
}
h2 {
    //Image Title
    font-family: $title_font;
    font-weight: 300;
    text-align: left;
}
h3 {
    //Image Subtitle
    font-family: $subtitle_font;
    font-weight: 400;
    font-size: 17px;
    text-align: left;
}
h4 {
    //Resume Header
    font-family: $title_font;
    text-align: right;
    font-size: 22px;
}
h5 {
    //Resume Content
    font-family: $title_font;
//    font-weight: 300;
    text-align: left;
    font-size: 18px;
}
p {
    //Resume Text
    font-family: $subtitle_font;
    text-align: left;
    font-size: 15px;
}

li {
    //Resume Text
    font-family: $subtitle_font;
    text-align: left;
    padding: 3px;
    list-style-type: circle;
    font-size: 14px;
}
a:link {
    text-decoration: none;
}

/*NAV*/
.nav {
    text-align: center;
    font-family: $subtitle_font;
    ul {
        position: relative;
        display: inline-table;
        padding: 0px;
        margin: 0px;
        text-align: center;
        border-top: 1px black solid;
        border-bottom: 1px black solid;
    }
    li {
        display: inline-block;
        font-size: 17px;
        padding: 10px 20px 10px 20px;
        
        .current_page {
            color: $colour5;
        }
    }
    a {
        color: black;
        position: relative;
        text-decoration: none;
        display: block;
    }
    a:hover {
        color: $colour5;
        transition: color 0.5s ease;
    }
}

/*PAGES*/
.container {
    @include container;
}

.content {
    text-align: center;
    width: span (9 of 12);
    //    background-color: bisque;
    img {
        width: span(9 of 9);
    }
    
    video {
        width: span(9 of 9);
    }
}

.line {
    border-bottom: 1px black solid;
    margin: 75px 0px 75px 0px;
}