$title_font: 'Abel';
$subtitle_font: 'Raleway';
$colour1: #FF1654;
h1 {
    //Top Info
    font-family: $subtitle_font;
    font-weight: 400;
    text-align: center;
    font-size: 15px;
}
h2 {
    //Image Title
    font-family: $title_font;
    font-weight: 300;
    text-align: left;
}
.h2_index{
    //Index Title
    font-family: $title_font;
    font-weight: 300;
    text-align: center;
}
h3 {
    //Image Subtitle
    font-family: $subtitle_font;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
}
h4 {
    //Resume Header
    font-family: $title_font;
    text-align: left;
    font-size: 22px;
}
h5 {
    //Resume Content
    font-family: $title_font;
    //    font-weight: 300;
    text-align: left;
    font-size: 18px;
}
p {
    //Resume Text
    font-family: $subtitle_font;
    text-align: left;
    font-size: 15px;
}
li {
    //Resume Text
    font-family: $subtitle_font;
    text-align: left;
    padding: 3px;
    list-style-type: circle;
    font-size: 14px;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: $colour1;
    transition: color 0.5s ease;
}
footer {
    font-family: $subtitle_font;
    text-align: center;
    margin-top: 50px;
}

/*NAV*/

.nav {
    text-align: center;
    font-family: $title_font;
    ul {
        position: relative;
        display: inline-table;
        padding: 0px;
        margin: 0px;
        text-align: center;
        border-top: 1px black solid;
        border-bottom: 1px black solid;
    }
    li {
        display: inline-block;
        font-size: 17px;
        padding: 10px 20px 10px 20px;
        .current_page {
            color: $colour1;
        }
    }
    a {
        color: black;
        position: relative;
        text-decoration: none;
        display: block;
    }
    a:hover {
        color: $colour1;
        transition: color 0.5s ease;
    }
}
.title {
    font-size: 30px;
}

/*PAGES*/

.box {
    text-align: center;
    width: 20.33%;
    display: block;
}
.content {
    text-align: center;
    img {
        margin-top: 30px;
    }
    svg {
        width: 50px;
    }
    svg:hover {
        width: 50px;
        fill: $colour1;
        transition: fill 0.5s ease;
    }
}
.line {
    border-bottom: 1px black solid;
    margin: 75px 0px 75px 0px;
}

/*ABOUT*/

#about_img {
    width: 500px;
}
#about {
    font-family: $title_font;
    font-weight: 300;
    text-align: center;
    font-size: 20px;
}

/*RESUME*/
.res_content {
    margin-bottom: 30px;
    //    background-color: pink;
    padding: 10px 10px 40px 30px;
    border-left: 1px black solid;
}
#res_link {
    text-align: right;
    margin-right: 100px;
}
@media (max-width: 600px) {
    .nav {
        li {
            font-size: 25px;
        }
    }
}
