@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto+Condensed:300, 400');
@import 'resume';
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: overline;
}
#top {
    top: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 1.4em;
    #left {
        top: 0;
        left: 0;
        text-align: left;
        margin-left: 30px;
        margin-top: 20px;
        display: inline-block;
    }
    #right {
        top: 0;
        right: 0;
        text-align: right;
        margin-right: 30px;
        margin-top: 20px;
        width: 100px;
        display: inline-block;
        float: right;
    }
}
#bottom {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 1.4em;
}
.block {
    //    background-color: pink;
    display: flex;
    border: 8px white solid;
    align-items: center;
    overflow: hidden;
}
.block img {
    width: 100%;
    height: 100%;
}
.content {
    margin-top: 100px;
    text-align: center;
}
.black {
    background-color: #C7C7C7;
}
//RESUME
#resume {
    padding-top: 20px;
    padding-bottom: 20px;
}
.res-heading {
    font-family: 'Oswald', sans-serif;
    font-size: 1.4em;
    text-decoration: overline;
    margin-bottom: 10px;
    color: white;
}
.res-name {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    color: white;
}
.res-content {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    margin-bottom: 20px;
    color: white;
}
//ABOUT
#about-content {
    margin: 50px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.3em;
    color: white;
    text-align: justify;
}
//PAGES
.title {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
}
.title img {
    width: 100%;
    height: 100%;
    margin-top: 20px;
}
.description {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 20px;
}
