@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500i,500,700');
@font-face{
    font-family:"Bebas Neue W01 Regular";
    src:url("Fonts/1444649/3d9ec9a9-76a2-4cfe-b376-76e7340c3b50.eot?#iefix");
    src:url("Fonts/1444649/3d9ec9a9-76a2-4cfe-b376-76e7340c3b50.eot?#iefix") format("eot"),url("Fonts/1444649/e0d6f852-5401-4bbf-9672-47a50c5c87c6.woff2") format("woff2"),url("Fonts/1444649/7fedd582-6ae3-4850-be2f-4acae2e74fa5.woff") format("woff"),url("Fonts/1444649/d6e08ef3-40db-4ac3-82df-f062f55a72f5.ttf") format("truetype");
}

body,
html {
    margin: 0px;
    padding: 0px;
    background-color: #FFF;
}
.def-color {
    background: #D3CED8;
}

/* GENERAL SETTINGS */
h1 {
    font-family: 'Bebas Neue', monospace;
    letter-spacing: 10px;
    font-size: 1.3em;
    font-weight: 700;
    padding-top: 20px;
    padding-left: 20px;
    color: #D3CED8;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.1em;
    font-weight: 300;
    margin: 0;
    text-align: left;
    letter-spacing: 2px;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    margin: 0;
    letter-spacing: 2px;
    color: #D3CED8; 
}
h3 a {
    color: #D3CED8; 
    text-decoration: none;
}
h3 a:hover{
    color: #76707c;
    transition: 0.3s;
}
h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4em;
    font-weight: 500;
    margin: 0;
    text-align:left;
}
h5 {
    font-family: 'Montserrat', serif;
    font-size: 1em;
    font-weight: 700;
    margin: 0;
}

h6 {
    font-family: 'Montserrat', serif;
    font-size: 1em;
    font-weight: 500;
    margin: 0;
}
a {
    text-decoration: none;
}
a :hover {
    color: #76707c;
    transition: 0.3s;
}

.right {
    float: right;
    text-align: right;
}
.left {
    float: left;
    text-align: left;
    padding-left: 20px;
}

/* HOME */
#bar {
    width: 70%;
    margin: 0 auto;
    height: 10px;
    background-color: #D3CED8;
}

#about {
    text-align: left;
    text-orientation: upright;
    writing-mode: vertical-lr;
}

.mosaic {
    text-align: center;
    width: 100%;
}

.logo-container {
    position: absolute;
    right: 0;
    bottom: 0;
}

.logo {
    display: block;
}

/*HOME*/

.thumbnail {
    max-width: 95%;
    margin: 0 auto;
    text-align: center;
}
.thumb {
    width: 100%;
}
#about {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    letter-spacing: 8px;
    transition: color 0.2s ease;
}
.logo {
    height: 40px;
    width: 40px;
    padding: 5px;
    margin: 5px auto;
}

/*PAGES*/
.img-big {
    max-width: 900px;
    padding-left: 10px;
    text-align: center;
}
.img-big img {
    width: 100%;
}
.img-full {
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 30px;
}
.img-full img {
    width: 100%;
}
.img-small {
    max-width: 750px;
    padding-left: 10px;
}
.img-small img {
    width: 100%;
}
.img-center img {
    text-align:center;
}
.square img {
    width: 440px;
}
.description {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.text-right {
    text-align: right;
}
.text-left{
    text-align: left;
}
.text {
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}
#link {
    color: #D3CED8;
    text-decoration: underline;
}
.video {
    margin: 0 auto;
}
iframe {
    width: 100%;
}
.nav {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.nav a{
    padding: 10px;
}
.nav a:hover{
    color:#873848;
}

/* ABOUT */
#about-portrait{
    background-color: grey;
    height: 500px;
}

#about-description{
    padding: 5px;
    margin: 0px 30px;
    text-align: justify;
}

/* RESUME */
#resume-container {
    display: inline-block;
    text-align: center;
    width: 100%;
}
#resume-dates {
    display: inline-block;
    text-align: left;
}
/* .resume-link {
    color: black;
}
.resume-link :hover {
    color: #76707c;
    transition: 0.3s;
} */
/*RESPONSIVE*/

@media all and (max-width:800px) {
    .text-right {
        text-align: center;
    }
    .img-small {
        padding-left: 0px;
    }
    .img-big {
        padding-left: 0px
    }
    .img-full {
        padding-left: 0px;
    }
    .thumb {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
    }
}
@media all and (max-width:650px) {
    .text-right {
        text-align: center;
    }
    .img-small {
        padding-left: 0px;
    }
    .img-big {
        padding-left: 0px
    }
    .img-full {
        padding-left: 0px;
    }
     .thumb {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
    }
}
