@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500i,500,700');


body,
html {
    margin: 0px;
    padding: 0px;
    background-color: #FFF;
}
.def-color {
    background: #D3CED8;
}

/* GENERAL SETTINGS */
h1 {
    font-family: 'Montserrat', monospace;
    font-size: 1.3em;
    font-weight: 700;
    padding-top: 20px;
    padding-left: 20px;
    color: #D3CED8;
    text-decoration: none;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.1em;
    font-weight: 300;
    margin: 0;
    text-align: left;
    letter-spacing: 2px;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    margin: 0;
    letter-spacing: 2px;
    color: #D3CED8; 
}
h3 a {
    color: #D3CED8; 
    text-decoration: none;
}
h3 a:hover{
    color: #76707c;
    transition: 0.3s;
}
h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.0em;
    font-weight: 500;
    margin: 0;
    text-align:left;
}
h5 {
    font-family: 'Montserrat', serif;
    font-size: 1em;
    font-weight: 700;
    margin: 0;
}

h6 {
    font-family: 'Montserrat', serif;
    font-size: 1em;
    font-weight: 500;
    margin: 0;
}
a {
    text-decoration: underline;
    color: #D3CED8; 
    transition: 0.3s ease;
}
a:hover {
    color: #76707c;
    transition: 0.3s ease;
}

.right {
    float: right;
    text-align: right;
}
.left {
    float: left;
    text-align: left;
    padding-left: 20px;
}

.email {
    bottom: 0;
    position: fixed;
    left: 0;
    margin-left: 40px;
    margin-bottom: 30px;
}

#bar {
    width: 70%;
    margin: 0 auto;
    height: 10px;
    background-color: #D3CED8;
}

#about {
    text-align: left;
    text-orientation: upright;
    writing-mode: vertical-lr;
}

.mosaic {
    text-align: center;
    width: 100%;
}

.logo-container {
    position: fixed;
    right: 0;
    bottom: 0;
}

.logo {
    display: block;
    width: 30px;
    padding: 5px;
    margin: 5px auto;
    bottom: 0;
}

#name {
    width: 20%;
}

.iframe-wrapper {
    width: 90%;
}

/*HOME*/

.thumbnail {
    max-width: 95%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    overflow: auto;
    transition: 0.5s ease;
}

.thumb {
    width: 100%;
    backface-visibility: hidden;
    position: relative;
    text-align: center;
}

.overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: 0.5s ease;
}

.overlay:hover {
    transition: 0.5s ease;
    opacity: 0.8;
    top: 0;
}

.caption {
    font-family: 'Montserrat', serif;
    font-size: 1em;
    font-weight: 700;
    margin: auto;
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
    color: #76707c;
}

#about {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    letter-spacing: 8px;
    transition: color 0.2s ease;
}

/* PAGES */
.gallery img {
    width: 90%;
}

.description {
    text-align: left;
    width: 95%;
}

.dev-log-description {
    text-align: left;
}

.text {
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
}

/* PAGES
.img-big {
    max-width: 900px;
    padding-left: 10px;
    text-align: center;
}
.img-big img {
    width: 100%;
}
.img-full {
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 30px;
}
.img-full img {
    width: 100%;
}
.img-small {
    max-width: 750px;
    padding-left: 10px;
}
.img-small img {
    width: 100%;
}
.img-center img {
    text-align:center;
}
.square img {
    width: 440px;
}
.description {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.text-right {
    text-align: right;
}
.text-left{
    text-align: left;
}
.text {
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}
#link {
    color: #D3CED8;
    text-decoration: underline;
}
.video {
    margin: 0 auto;
}
iframe {
    width: 100%;
}
.nav {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.nav a{
    padding: 10px;
}
.nav a:hover{
    color:#873848;
} */

/* ABOUT */
#about-portrait{
    background-color: grey;
    height: 500px;
}

#about-description{
    padding: 5px;
    margin: 0px 30px;
    text-align: justify;
}

/* RESUME */
#resume-container {
    display: inline-block;
    text-align: center;
    width: 100%;
}
#resume-dates {
    display: inline-block;
    text-align: left;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

/*RESPONSIVE*/

@media all and (max-width:800px) {
    .text-right {
        text-align: center;
    }
    .img-small {
        padding-left: 0px;
    }
    .img-big {
        padding-left: 0px
    }
    .img-full {
        padding-left: 0px;
    }
    .thumb {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
    }
}
@media all and (max-width:650px) {
    .text-right {
        text-align: center;
    }
    .img-small {
        padding-left: 0px;
    }
    .img-big {
        padding-left: 0px
    }
    .img-full {
        padding-left: 0px;
    }
     .thumb {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
    }
}
