/*RESUME*/
/* line 2, ../sass/_resume.scss */
.res_heading {
  width: 20.45455%;
  float: left;
  margin-right: 2.27273%;
  align-self: flex-start;
}

/* line 8, ../sass/_resume.scss */
.res_content {
  width: 65.90909%;
  float: left;
  margin-right: 2.27273%;
  margin-left: 1.69492%;
  margin-bottom: 30px;
  padding-left: 30px;
  border-left: 1px black solid;
}

/* line 9, ../sass/style.scss */
h1 {
  font-family: "Raleway";
  font-weight: 400;
  text-align: center;
  font-size: 15px;
}

/* line 16, ../sass/style.scss */
h2 {
  font-family: "Roboto Slab";
  font-weight: 300;
  text-align: left;
}

/* line 22, ../sass/style.scss */
h3 {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 17px;
  text-align: left;
}

/* line 29, ../sass/style.scss */
h4 {
  font-family: "Roboto Slab";
  text-align: right;
  font-size: 22px;
}

/* line 35, ../sass/style.scss */
h5 {
  font-family: "Roboto Slab";
  text-align: left;
  font-size: 18px;
}

/* line 42, ../sass/style.scss */
p {
  font-family: "Raleway";
  text-align: left;
  font-size: 16px;
}

/* line 49, ../sass/style.scss */
li {
  font-family: "Raleway";
  text-align: left;
  padding: 3px;
  list-style-type: circle;
  font-size: 14px;
}

/* line 57, ../sass/style.scss */
a:link {
  text-decoration: none;
}

/*NAV*/
/* line 62, ../sass/style.scss */
.nav {
  text-align: center;
  font-family: "Raleway";
}
/* line 65, ../sass/style.scss */
.nav ul {
  position: relative;
  display: inline-table;
  padding: 0px;
  margin: 0px;
  text-align: center;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
}
/* line 74, ../sass/style.scss */
.nav li {
  display: inline-block;
  font-size: 17px;
  padding: 10px 20px 10px 20px;
}
/* line 79, ../sass/style.scss */
.nav li .current_page {
  color: #FF1654;
}
/* line 83, ../sass/style.scss */
.nav a {
  color: black;
  position: relative;
  text-decoration: none;
  display: block;
}
/* line 89, ../sass/style.scss */
.nav a:hover {
  color: #FF1654;
  transition: color 0.5s ease;
}

/* line 95, ../sass/style.scss */
.container {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 99, ../sass/style.scss */
.content {
  text-align: center;
  width: span 9 of 12;
}
/* line 103, ../sass/style.scss */
.content img {
  width: 100%;
}
/* line 107, ../sass/style.scss */
.content video {
  width: 100%;
}

/* line 112, ../sass/style.scss */
.line {
  border-bottom: 1px black solid;
  width: span 9 of 12;
  margin: 75px 0px 75px 0px;
}
