/* line 4, ../sass/style.scss */
h1 {
  font-family: "Raleway";
  font-weight: 400;
  text-align: center;
  font-size: 15px;
}

/* line 11, ../sass/style.scss */
h2 {
  font-family: "Abel";
  font-weight: 300;
  text-align: left;
}

/* line 17, ../sass/style.scss */
.h2_index {
  font-family: "Abel";
  font-weight: 300;
  text-align: center;
}

/* line 23, ../sass/style.scss */
h3 {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 17px;
  text-align: center;
}

/* line 30, ../sass/style.scss */
h4 {
  font-family: "Abel";
  text-align: left;
  font-size: 22px;
}

/* line 36, ../sass/style.scss */
h5 {
  font-family: "Abel";
  text-align: left;
  font-size: 18px;
}

/* line 43, ../sass/style.scss */
p {
  font-family: "Raleway";
  text-align: left;
  font-size: 15px;
}

/* line 49, ../sass/style.scss */
li {
  font-family: "Raleway";
  text-align: left;
  padding: 3px;
  list-style-type: circle;
  font-size: 14px;
}

/* line 57, ../sass/style.scss */
a {
  color: black;
  text-decoration: none;
}

/* line 61, ../sass/style.scss */
a:hover {
  color: #FF1654;
  transition: color 0.5s ease;
}

/* line 65, ../sass/style.scss */
footer {
  font-family: "Raleway";
  text-align: center;
  margin-top: 50px;
}

/*NAV*/
/* line 73, ../sass/style.scss */
.nav {
  text-align: center;
  font-family: "Abel";
}
/* line 76, ../sass/style.scss */
.nav ul {
  position: relative;
  display: inline-table;
  padding: 0px;
  margin: 0px;
  text-align: center;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
}
/* line 85, ../sass/style.scss */
.nav li {
  display: inline-block;
  font-size: 17px;
  padding: 10px 20px 10px 20px;
}
/* line 89, ../sass/style.scss */
.nav li .current_page {
  color: #FF1654;
}
/* line 93, ../sass/style.scss */
.nav a {
  color: black;
  position: relative;
  text-decoration: none;
  display: block;
}
/* line 99, ../sass/style.scss */
.nav a:hover {
  color: #FF1654;
  transition: color 0.5s ease;
}

/* line 104, ../sass/style.scss */
.title {
  font-size: 30px;
}

/*PAGES*/
/* line 110, ../sass/style.scss */
.box {
  text-align: center;
  width: 20.33%;
  display: block;
}

/* line 115, ../sass/style.scss */
.content {
  text-align: center;
}
/* line 117, ../sass/style.scss */
.content img {
  margin-top: 30px;
}
/* line 120, ../sass/style.scss */
.content svg {
  width: 50px;
}
/* line 123, ../sass/style.scss */
.content svg:hover {
  width: 50px;
  fill: #FF1654;
  transition: fill 0.5s ease;
}

/* line 129, ../sass/style.scss */
.line {
  border-bottom: 1px black solid;
  margin: 75px 0px 75px 0px;
}

/*ABOUT*/
/* line 136, ../sass/style.scss */
#about_img {
  width: 500px;
}

/* line 139, ../sass/style.scss */
#about {
  font-family: "Abel";
  font-weight: 300;
  text-align: center;
  font-size: 20px;
}

/*RESUME*/
/* line 147, ../sass/style.scss */
.res_content {
  margin-bottom: 30px;
  padding: 10px 10px 40px 30px;
  border-left: 1px black solid;
}

/* line 153, ../sass/style.scss */
#res_link {
  text-align: right;
  margin-right: 100px;
}

@media (max-width: 600px) {
  /* line 159, ../sass/style.scss */
  .nav li {
    font-size: 25px;
  }
}
