/*RESUME*/
@import url(https://fonts.googleapis.com/css?family=Raleway|Marvel|Josefin+Slab);
/* line 2, ../sass/_resume.scss */
.res_heading {
  width: 20.45455%;
  float: left;
  margin-right: 2.27273%;
  align-self: flex-start;
}

/* line 8, ../sass/_resume.scss */
.res_content {
  width: 65.90909%;
  float: left;
  margin-right: 2.27273%;
  margin-left: 1.69492%;
  margin-bottom: 30px;
  padding-left: 30px;
  border-left: 1px black solid;
}

/* line 11, ../sass/style.scss */
h1 {
  font-family: "Marvel";
  text-align: center;
  font-size: 15px;
}

/* line 17, ../sass/style.scss */
h2 {
  font-family: "Marvel";
  text-align: center;
  margin: 5px;
}

/* line 23, ../sass/style.scss */
h3 {
  font-family: "Raleway";
  text-align: left;
}

/* line 28, ../sass/style.scss */
h4 {
  font-family: "Raleway";
  text-align: right;
  font-size: 20px;
}

/* line 34, ../sass/style.scss */
h5 {
  font-family: "Raleway";
  text-align: left;
  font-size: 17px;
}

/* line 40, ../sass/style.scss */
p {
  font-family: "Raleway";
  text-align: left;
}

/* line 46, ../sass/style.scss */
ul {
  list-style-position: initial;
}

/* line 50, ../sass/style.scss */
li {
  font-family: "Raleway";
  text-align: left;
  padding: 3px;
  list-style-type: square;
}

/* line 57, ../sass/style.scss */
a:link {
  text-decoration: none;
}

/*NAV*/
/* line 62, ../sass/style.scss */
.nav {
  text-align: center;
  font-family: "Marvel";
}
/* line 65, ../sass/style.scss */
.nav ul {
  position: relative;
  display: inline-table;
  padding: 0px;
  margin: 0px;
  text-align: center;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
}
/* line 74, ../sass/style.scss */
.nav li {
  display: inline-block;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
}
/* line 79, ../sass/style.scss */
.nav a {
  color: black;
  position: relative;
  text-decoration: none;
  display: block;
}
/* line 85, ../sass/style.scss */
.nav a:hover {
  color: #FF1654;
  transition: color 0.1s ease;
}

/* line 91, ../sass/style.scss */
.container {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 95, ../sass/style.scss */
.content_index {
  text-align: center;
  width: span 9 of 12;
}
/* line 99, ../sass/style.scss */
.content_index img {
  width: 100%;
}

/* line 104, ../sass/style.scss */
.line {
  border-bottom: 1px black solid;
  width: span 9 of 12;
  margin: 75px 0px 75px 0px;
}

/* line 111, ../sass/style.scss */
.content {
  width: span 9 of 12;
  text-align: center;
}
/* line 115, ../sass/style.scss */
.content img {
  width: 43.18182%;
  text-align: center;
  padding: 10px;
}
/* line 120, ../sass/style.scss */
.content video {
  width: 66.10169%;
  padding: 50px;
}

/* line 125, ../sass/style.scss */
.content_text {
  width: 100%;
}

/*
.box {
    margin: 80px 50px 80px 50px;
    height: 200px;
    
    a:hover {
        color: $colour5;
    }
}



section {
    clear: inherit;
}

.skills {
    position: relative;
    display: inline-block;
    color: black;
    margin: 10px;
    width: 250px;
    flex-flow: row wrap;
    
    h5 {
        text-align: center;
        padding: 20px;
    }
    
    figcaption {
        font-size: 20px;
        position: relative;
    }    
}
*/
