@import url(https://fonts.googleapis.com/css?family=Lato:300);
@import url(https://fonts.googleapis.com/css family=Playfair+Display:400,700italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans+Mono);


/*NAV & FOOTER*/
.nav {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: white;
    opacity: 0.95;
    z-index: 1;
    height: 100px;
}

.nav ul {
    list-style-type: none; 
    width: 100%;
    top: 0px;
}

.nav li{
    display: inline;
    padding: 0px 30px;
    text-align: center;
    margin-left: 90px;
}

.nav a {
    text-decoration: none;
    color: black;
    font-family: "Lato";
    font-size: 15px;
}

.nav a:hover {
    color: #02bd88;
}

.nav img {
    width: 60px;
    height: 60px;
    padding: 10px;
    display: inline-block;
}

.links {
    top: 0px;
    display: inline-block;
    text-align: center;
    width: 90%;
}

.footer {
    width: 100%;
    background-color: rgba(42, 42, 42, 0.83);
    -webkit-box-shadow: 8px 0px 0px 0px #000000;
    -moz-box-shadow: 8px 0px 0px 0px #000000;
    bottom: auto;
    font-family: "Lato";
    font-size: 16px;
}

.footer {
    overflow: auto;
    width: 100%;
}


.footer ul {
    padding: 15px;
    display: inline-block;
}

.footer li {
    list-style-type: none;
    display: inline;
}

.footer a {
    color: #fff;
    padding: 15px;
    text-decoration: none;
}

.footer div{
    display: inline-block;
    padding-left: 50px;
}

.footer img {
    width: 120px;
    height:'';
    padding-top: 30px;
    padding-right: 30px;
    display: inline-block;
    right: 0;
}

/*STANDARD*/
body {
    margin: 0;
}

h1 {
    font-family: "Quicksand";
    font-size: 45px;
    text-align: center;
    margin-top: -20px;
}

h2 {
    font-family: "Quicksand";
    text-align: center;
}

h3 {
    font-family: "Quicksand";
    text-align: center;
    font-size: 30px;
}

h4 {
    font-family: "Quicksand";
    text-align: center;
    font-size: 20px;
}

h5 {
    font-family: "Quicksand";
    text-align: center;
    font-size: 15px;
}

p {
    font-family: "Lato";
    font-size: 16px;
    padding: 10px;
    text-align: center;
    letter-spacing: 0.5px;
}

hr {
    width: 35%;
    color: #000;
    margin-top: 40px;
    margin-bottom: 40px;
}

/*SLIDER*/
@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
}

div#slider {
    overflow: hidden;
}

div#slider figure img {
    width: 20%;
    float: left;
}

div#slider figure {
    position: relative;
    z-index: -1;
    width: 500%;
    margin: 0;
    left: 0;
    top: -17px;
    text-align: left;
    font-size: 0;
    animation: 30s slidy infinite;
}

/*HOMEPAGE*/
.row {
    margin: 150px 10px 150px 30px;
}


.quote {
    text-align: center;
}

.block {
    display: inline-block;
}

ul img {
    height: 450px;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

ul.recentevents {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

ul.recentevents li {
    display: inline-block;
    position: relative;
    width: 450px;
    height: 450px;
    margin: 0 1em 1em 0;
}

span.texthover {
    background: rgba(0,0,0,0.5);
    color: white;
    cursor: pointer;
    height: 450px;
    width: 450px;
    left: 0;
    position: absolute;
    top: 0;
    font-family: "Quicksand";
    opacity: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}

ul.recentevents li:hover span.texthover {
    opacity: 1;
}

.texthover p {
    text-align: center;
    vertical-align: middle;
    padding-top: 150px;
    color: white;
    font-family: "Quicksand";
    font-size: 30px;
}

.media {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.twitter {
    display: block;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

/*PAGE BANNERS*/
.bannerimg {
    width: 100%;
    height: 500px;
    position: relative;
}

.bannerimg img {
    width: 100%;
}

h2.imgtext {
    position: absolute;
    font-size: 35px;
    top: 120px;
    left: 0;
    width: 30%;
    color: #000;
    background-color: white;
    padding: 10px;
    opacity: 0.7;
    margin-left: 35%;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
}

/* CONTACT FORM */
form {
    max-width: 500px;
    margin:50px auto;
}

.feedback-input {
    color:white;
    font-family: "Quicksand";
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #3a302e;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
}

.feedback-input:focus { 
    border:2px solid #bb650e; 
}

textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

[type="submit"] {
    font-family: "Quicksand";
    width: 100%;
    background:#3a302e;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}

[type="submit"]:hover { 
    background:#bb650e; 
}

/*ABOUT*/

h1.green {
    color: #509f24;
}

h3.subtitle_droid {
    font-family: "Playfair Display";
    font-size: 28px;
    font-style: italic;
    color: #000;
    line-height: 1.5em;
}

h3.subtitle_quick {
    font-family: "Quicksand";
    font-size: 16px;
    color: #000;
    line-height: 1.5em;
    font-weight: 100;
}

.abouttop {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}

p.pbold {
    font-family: "Quicksand";
}

a {
    text-decoration: underline;
    color: #000;
}

a:hover {
    color: #02bd88;
}

.event-layout {
    margin-top: 120px;
}

/* VOTING */
.radio {
    clear: both;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

label {
    width: 400px;
    border-radius: 3px;
    border: 1px solid #D1D3D4;
    font-family: "Lato";
    font-size: 16px;
}

/* hide input */
    input.radio:empty {
    margin-left: -999px;
    display: none;
}

/* style label */
input.radio:empty ~ label {
    position: relative;
    float: left;
    line-height: 2.5em;
    text-indent: 3.25em;
    margin-top: 2em;
    margin-bottom: 2em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input.radio:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
}

/* toggle hover */
input.radio:hover:not(:checked) ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #C2C2C2;
}

input.radio:hover:not(:checked) ~ label {
    color: #888;
}

/* toggle on */
input.radio:checked ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #9CE2AE;
    background-color: #02bd88;
}

input.radio:checked ~ label {
    color: #777;
}

/* radio focus */
.centerfloat {
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
}

.floatleftimg img {
    margin-right: 30px;
}

.floatleftimgtwo img {
    margin-right: 30px;
}

.floatleftimgthree img {
    margin-right: 30px;
}

.floatleftimg {
    float: left;
    margin-left: 100px;
    position: relative;
    margin-bottom: 30px;
}

.floatleftimgtwo {
    float: left;
    position: relative;
    margin-bottom: 30px;
}

.floatleftimgthree {
    float: left;
    position: relative;
    margin-bottom: 30px;
}

h4.imgtext {
    font-family: "Lato";
    position: absolute;
    text-align: center;
    font-size: 18px;
    left: -138px;
    width: 350px;
    color: #000;
    background-color: white;
    padding: 8px;
    opacity: 0.7;
    margin-top: -190px;
    margin-left: 35%;
}

/*SIGNUP*/
.membertype {
    text-align: center;
}

.membertype a {
    margin: 50px;
    padding: 30px 80px 30px 80px;
    border-radius: 5px;
    background-color: #343434;
    color: white;
    font-family: "Quicksand";
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    width: 200px;
}

.membertype a:hover {
    background-color: #3DA854;
}

.description p {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.description div {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.description img {
    width: 800px;
    height: '';
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*SIGN UP FORMS*/
.form {
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.form input[type="text"] {
    margin-top: 50px;
    font-family: "Quicksand";
    margin: 10px auto 10px auto;
    padding: 10px 250px 10px 10px;
    border-radius: 5px;
    max-width: 800px;
    border: 1px solid rgb(84, 84, 84);
    display: block;
}

.form input[type="submit"] {
    display: block;
    font-family: "Quicksand";
    color: white;
    border-radius: 5px;
    border: 1px solid rgb(33, 33, 33);
    background-color: rgb(33, 33, 33);
    margin: 10px auto 10px auto;
    padding: 10px 180px 10px 180px;
}

.form select {
    font-family: "Quicksand";
    border-radius: 5px;
    margin: 10px auto 10px auto;
    padding: 10px 245px 10px 10px;
}

.form input[type="checkbox"] {
    display: block;
    cursor: pointer;
    width: 25px;
    height: 25px;
    background: #e6e6e6;
    position: relative;
    vertical-align: middle;
    text-align: center;
    margin-left: 142px;
}

.form label {
    border: none;
    display: block;
    cursor: pointer;
    position: absolute;
    margin-left: 200px;
    text-align: left;
}

.form a{
    padding: 10px 175px 10px 175px;
    border-radius: 5px;
    background-color: #343434;
    color: white;
    font-family: "Quicksand";
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
}

.form a:hover {
    background-color: rgb(212, 72, 13);

}

.cooksubmit a:hover {
    background-color: rgb(230, 238, 76);
}

/*SOCIAL*/

.account {
    width: 80%;
    border-radius: 3px;
    border: 2px solid #D1D3D4;
    margin: 80px auto 30px auto;
    display: block;
    padding: 15px;

}

.account span {
    vertical-align: middle;
    display: table-cell;
}

.account img {
    width: 300px;
    height: 300px;
    display: table;
    vertical-align: middle;
    display: table-cell;
    padding: 10px;
}

.name {
    background-color: #EBEBEB ;
    border-radius: 5px;
    margin-bottom: 80px;
    padding: 10px;
}

.name img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
}

.upcomingdiv {
    border: 1px solid #D1D3D4;  
    padding-bottom: 120px;
    margin-bottom: 20px;
}

ul.upcoming {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

ul.upcoming li {
    display: inline-block;
    position: relative;
    width: 300px;
    margin: 0 1em 1em 0;
}

span.socialhover {
    background: rgba(0,0,0,0.5);
    color: white;
    cursor: pointer;
    height: 100px;
    width: 300px;
    margin-left: 10px;
    margin-top: 5px;
    position: absolute;
    font-family: "Quicksand";
    opacity: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}

ul.upcoming li:hover span.socialhover {
    opacity: 1;
}

.name h5 {
    padding: 0px;
    margin: 0px;
}

.socialhover p {
    text-align: center;
    vertical-align: middle;
    padding-top: 0px;
    color: white;
    font-family: "Quicksand";
    font-size: 15px;
    margin-top: 40px;
}

.instagram {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#settings {
    width: 30px;
    height: 30px;
    display: inline-block;
    top: 0px;
}

/* CALENDAR */
.calendar-container {
    margin-top: 100px;
    padding: 30px;
    background-color: #f9f9f9;
    overflow: auto;
}
    
ol.calendar {
        
    width: 80%;
    margin:0 auto;
    display:block; 
    min-height: 200px;
    padding: 12px 0 0 20px;
}

li {
    list-style:none;
}

p.link {
    text-align:center;
    display: block;
}
    
li li {
    font-family: "Lato";
    font-weight: 200;
    width: 8em;
    height: 8em;
    float: left;
    margin: .2em; 
    padding: 1.2em;
    overflow: auto;
    background-color: #fff; }

li li p {
    font-size:.7em;
    display: block;
}

li li ol {
    width:auto;
}

li li ul li, li li ol li {
    font-size:.7em;
    display:block;
    height:auto;
    width:auto; 
    background: none;
    margin:0;
    padding:.2em 0;
    float:none;
}
    

li#lastmonth li,
li#nextmonth li    { background: #ebebeb;}


li li.holiday    {  
}

/*ARCHIVE*/
img.align-center {
  display: block;
  margin: 0px auto;
  padding: 20px;
}
img.large {
  width: 400px;
  height: 400px;}
  img.medium {
	  width: 500px;
	  height: 500px;}

