@import url(https://fonts.googleapis.com/css?family=Lato:300);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans+Mono);
@import url(https://fonts.googleapis.com/css?family=Quicksand);

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v11/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

/*NAV & FOOTER*/
.nav {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: white;
  opacity: 0.95;
  z-index: 1;
}

.nav ul {
  list-style-type: none;
}

.nav li{
  display: inline;
  padding: 30px;
  margin-left: 115px;
}

.nav a {
  text-decoration: none;
  color: black;
  font-family: "Lato";
  font-size: 16px;
}

.nav a:hover {
    color: #02bd88;
}

.links {
  margin-left: 200px;
}

.footer {
  width: 100%;
  background-color: rgba(42, 42, 42, 0.83);
  -webkit-box-shadow: 8px 0px 0px 0px #000000;
  -moz-box-shadow: 8px 0px 0px 0px #000000;
  bottom: auto;
  font-family: "Lato";
  font-size: 16px;
}

.footer {
    overflow: auto;
}


.footer ul {
  padding: 15px;
}

.footer li {
  list-style-type: none;
  display: inline;
}

.footer a {
  color: #fff;
  padding: 15px;
  text-decoration: none;
}

.footer div{
  display: inline-block;
  padding-left: 50px;
}

/*STANDARD*/
body {
  margin: 0;
}

img.align-center {
  display: block;
  margin: 0px auto;}
img.large {
  width: 400px;
  height: 400px;}
  img.medium {
	  width: 600px;
	  height: 400px;}
	
  
ul {
	list-style-type:none;}

h1 {
    font-family: "Quicksand";
    font-size: 45px;
    text-align: center;
    margin-top: -20px;
}

h2 {
  font-family: "Quicksand";
  text-align: center;
}

h3 {
  font-family: "Quicksand";
  text-align: center;
  font-size: 30px;
}

h4 {
  font-family: "Quicksand";
  text-align: center;
  font-size: 20px;
}

p {
  font-family: "Lato";
  font-size: 16px;
  padding: 10px;
  text-align: center;
  letter-spacing: 0.5px;
}

/*SLIDER*/
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

div#slider {
  overflow: hidden;
}

div#slider figure img {
  width: 20%;
  float: left;
}

div#slider figure {
  position: relative;
  z-index: -1;
  width: 500%;
  margin: 0;
  left: 0;
  top: -17px;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite;
}

/*HOMEPAGE*/
.row {
  margin: 150px 10px 150px 30px;
}

.quote {
  text-align: center;
}

.block {
  display: inline-block;
}

.block img {
  height: 450px;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.missed img {
  height: 200px;
  width: 200px;
  display: block;
}

.missed p {
  display: inline-block;
}

/*PAGE BANNERS*/
.bannerimg {
    width: 100%;
    height: 500px;
    position: relative;
}

.bannerimg img {
    width: 100%;
}

h2.imgtext {
   position: absolute;
   font-size: 35px;
   top: 120px;
   left: 0;
   width: 30%;
   color: #000;
   background-color: white;
   padding: 10px;
   opacity: 0.7;
   margin-left: 35%;
   border-radius: 10px;
   box-shadow: 5px 5px 15px black;
}

/* CONTACT FORM */
form {
    max-width: 500px;
    margin:50px auto;
}

.feedback-input {
  color:white;
  font-family: "Quicksand";
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #3a302e;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #bb650e; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: "Quicksand";
  width: 100%;
  background:#3a302e;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

[type="submit"]:hover { background:#bb650e; }

h1.green {
    color: #509f24;
}

h3.subtitle_droid {
    font-family: "Playfair Display";
    font-size: 28px;
    font-style: italic;
    color: #000;
    line-height: 1.5em;
}

h3.subtitle_quick {
    font-family: "Quicksand";
    font-size: 16px;
    color: #000;
    line-height: 1.5em;
    font-weight: 100;
}

hr {
    width: 35%;
    color: #000;
    margin-top: 40px;
    margin-bottom: 40px;
}

.abouttop {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}

p.pbold {
    font-family: "Quicksand";
}

a {
    text-decoration: underline;
    color: #000;
}

a:hover {
    color: #02bd88;
}

/* VOTING */
.radio {
	clear: both;
    width: 350px;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

label {
  width: 350px;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-family: "Lato";
  font-size: 16px;
}

/* hide input */
input.radio:empty {
	margin-left: -999px;
    display: none;
}

/* style label */
input.radio:empty ~ label {
	position: relative;
	float: left;
	line-height: 2.5em;
	text-indent: 3.25em;
	margin-top: 2em;
    margin-bottom: 2em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.radio:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2.5em;
	background: #D1D3D4;
	border-radius: 3px 0 0 3px;
}

/* toggle hover */
input.radio:hover:not(:checked) ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #C2C2C2;
}

input.radio:hover:not(:checked) ~ label {
	color: #888;
}

/* toggle on */
input.radio:checked ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #9CE2AE;
	background-color: #02bd88;
}

input.radio:checked ~ label {
	color: #777;
}

/* radio focus */
.centerfloat {
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
}

.floatleftimg img {
    margin-right: 30px;
}

.floatleftimgtwo img {
    margin-right: 30px;
}

.floatleftimgthree img {
    margin-right: 30px;
}

.floatleftimg {
    float: left;
    margin-left: 100px;
    position: relative;
    margin-bottom: 30px;
}

.floatleftimgtwo {
    float: left;
    position: relative;
    margin-bottom: 30px;
}

.floatleftimgthree {
    float: left;
    position: relative;
    margin-bottom: 30px;
}

h4.imgtext {
    font-family: "Lato";
    position: absolute;
    text-align: center;
    font-size: 18px;
    left: -138px;
    width: 350px;
    color: #000;
    background-color: white;
    padding: 8px;
    opacity: 0.7;
    margin-top: -190px;
    margin-left: 35%;
}
